<!DOCTYPE html>


<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand bg-dark">
        <div class="container">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/lab-4/add-note">Add New Note</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Show All Notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/lab-4/note-list">Notes List</a>
            </li>
            </ul>
        </div>
    </nav>

    <div class="container pt-5">
        <h1 class="display-3">Messages from Note model</h1>
        <table class = "table table-dark">
            <thead>
                <tr>
                    <th scope="col">To</th>
                    <th scope="col">From</th>
                    <th scope="col">Title</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop Note model -->
                {% if notes %}
                {% for note in notes %}
                <tr>
                    <td>{{ note.to }}</td>
                    <td>{{ note.From }}</td>
                    <td>{{ note.title }}</td>
                    <td>{{ note.message }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
  </body>
</html>
