<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Add Note Form</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand bg-dark">
            <div class="container">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Add New Note</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/lab-4/">Show All Notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/lab-4/note-list">Notes List</a>
                </li>
                </ul>
            </div>
        </nav>

        <div class="container pt-5">
            <h1 class="display-3">Fill The Form to Add New Note</h1> 
            <form action="" method="POST" >
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Submit New Note">
            </form>
        </div>
    </body>
</html>