<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Add Note Form</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-expand bg-dark">
        <div class="container">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/lab-4/add-note">Add New Note</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/lab-4/">Show All Notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Notes List</a>
            </li>
            </ul>
        </div>
    </nav>

    <div class="container pt-5">
        <h1 class="display-3">Messages from Note model</h1>
        {% if notes %}
        {% for note in notes %}
        <div class="card bg-dark text-white">
            <div class="card-body">
                <h3 class="card-title">{{ note.title }}</h3>
                <p>From: {{ note.From }}</p>
                <p>To: {{ note.to }}</p>
                <p class="card-text">{{ note.message }}</p>
            </div>
        </div>
        <br>
        {% endfor %}
        {% endif %}
    </div>
</body>