row += '<tr><td>' + data[i].fields.to + '</td><td>' +
  data[i].fields.From + '</td><td>' + data[i].fields.title + '</td><td>' +
  data[i].fields.message + '</td><td>' + buttonView + 
  '<button class="edit" data-bs-toggle="modal" data-bs-target="#viewModal"></button>'+ 
  '<button class="delete" data-bs-toggle="modal" data-bs-target="#viewModal"></button>' + '</td></tr>';

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Note</title>
    <!-- loading bootstrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        var dataNote = JSON.parse("http://localhost:8000/lab-2/json");
      });
    </script>
  </head>
  <body>
    <div>
      <p>Messages from Note model</p>
    </div>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
        <th>Actions</th>
      </tr>
      <!-- Loop Note model -->
      {% if dataNode %}
        <!-- {% for data in dataNode %} -->
        <tr>
          <td id="to"></td>
          <td id="from"></td>
          <td id="title"></td>
          <td id="message"></td>
          <td>
            
            
          </td>
        </tr>
        <!-- {% endfor %} -->
      {% endif %}
    </table>
  </body>
</html>
