<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Note</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $.ajax({
          url: 'http://localhost:8000/lab-2/json',
          dataType: 'json',
          success: function(data) {
            for (var i = 0; i < data.length; i++) {
              var rows = `
              <tr>
                  <td>${data[i].fields.to}</td>
                  <td>${data[i].fields.From}</td>
                  <td>${data[i].fields.title}</td>
                  <td>${data[i].fields.message}</td>
                  <td>
                    <button class="view" data-id="${data[i].pk}" data-bs-toggle="modal" data-bs-target="#viewModal">View</button>
                    <button class="edit" data-id="${data[i].pk}" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
                    <button class="delete" data-id="${data[i].pk}" data-bs-toggle="modal" data-bs-target="#viewModal">Delete</button>
                  </td>
              </tr>`;
              $('table').append(rows);
            }

            $('.view').click(function(){ 
            var data_id=$(this).attr('data-id');
            $.ajax({
              url: 'http://localhost:8000/lab-5/notes/' + data_id,
              dataType: 'json',
              success: function(data) {
                $('#viewModal .modal-title').text(data.title);
                var rows = `
                <p>To: ${data.to}</p>
                <p>From: ${data.From}</p>
                <p>Message:<br />${data.message}</p>`;
                $('#viewModal .modal-body').html(rows);
                }
              });
            });

            $('.edit').click(function() {
              $('.modal-id').text($(this).attr('data-id'));
              $('.modal-id').hide();
            });

            $('.update-model').submit(function(e) {
              e.preventDefault();
              var idInput = $('.modal-id').text();
              var serializedData = $(this).serialize();
              console.log(idInput);
              console.log(serializedData);
              $.ajax({
                type: 'POST',
                url: 'http://localhost:8000/lab-5/notes/' + idInput + '/update',
                data: serializedData,
                success: function(response) {}
              });
            });
          }
        });
      });
    </script>
  </head>
  <body>
    <div class="container pt-5">
      <h1 class="display-3">Messages from Note model</h1>
    </div>
    <table class="table">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
        <th>Actions</th>
      </tr>
    </table>
    <div class="modal fade" id="viewModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body"></div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="editModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Update this Note</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <p class="modal-id" type="hidden"></p>
            <form class="update-model" action="" method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" class="btn btn-primary" value="Update the Note">
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
