<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Add Friend Form</title>
    </head>
    <body>
        <p>Fill The Form to Add Friend</p>
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>