<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    <style>
      /* color palette from: https://colorhunt.co/palette/32502e406343ece7b4f3efcc */

      * { 
        margin: 0;
        padding: 0;
      }

      body {
        font-family: sans-serif;
        background-color: #F3EFCC;
        text-align: center;
      }

      .header {
        line-height: 80px;
      }

      .header h1 {
        background-color: #32502E;
        color: #ECE7B4;
      }

      table, th, td {
        border: 1px solid black;
      }

      .content {
        font-size: 20px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <h1>Messages from Note model</h1>
    </div>
    <table class="content">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- Loop Note model -->
        {% if notes %}
          {% for note in notes %}
          <tr>
            <td>{{ note.to }}</td>
            <td>{{ note.From }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
          </tr>
          {% endfor %}
        {% endif %}
    </table>
  </body>
</html>
